#header.main-section.section
  .section-container
    .social-section
      .telephone-section.col.col-md-5
        = link_to 'tel:+14155068410' do
          %span.glyphicon.glyphicon-earphone
          %p (415) 506-8410

      .social-links.col.col-md-7
        %ul
          %li
            = link_to 'mailto:contact@devgile.com' do
              .icon.email
          %li
            = link_to 'https://twitter.com/devgile', :target => '_blank' do
              .icon.twitter
          %li
            = link_to 'https://github.com/DevGile', :target => '_blank' do
              .icon.github
          %li
            = link_to 'https://www.facebook.com/DevGile', :target => '_blank' do
              .icon.facebook

    .company-logo

    %p.legend-about
      We are a Web and Mobile apps development boutique, with experience in
      Ruby on Rails, JavaScript and Android.

