#technologies.main-section.section
  .section-container
    .section-title Technology stack
    #technologies-list
      .row
        .col.col-md-3
          = build_tech_icon(0)
        .col.col-md-3
          = build_tech_icon(1)
        .col.col-md-3
          = build_tech_icon(2)
        .col.col-md-3
          = build_tech_icon(3)
      .row
        .col.col-md-4
          = build_tech_icon(4)
        .col.col-md-4
          = build_tech_icon(5)
        .col.col-md-4
          = build_tech_icon(6)
      .row
        .col.col-md-6
          = build_tech_icon(7)
        .col.col-md-6
          = build_tech_icon(8)
      .row
        .col.col-md-12
          = build_tech_icon(9)
