#technologies.main-section.section
  .section-container
    .section-title Technology stack
    #technologies-list
      .row
        .col.col-md-3
          = link_to 'https://cukes.info/', :target => '_blank' do
            .icon.stack-item.cucumber
        .col.col-md-3
          = link_to 'https://www.ruby-lang.org/', :target => '_blank' do
            .icon.stack-item.ruby
        .col.col-md-3
          = link_to 'http://developer.android.com/index.html', :target => '_blank' do
            .icon.stack-item.android
        .col.col-md-3
          = link_to 'http://www.postgresql.org/', :target => '_blank' do
            .icon.stack-item.postgres
      .row
        .col.col-md-4
          = link_to 'http://getbootstrap.com/', :target => '_blank' do
            .icon.stack-item.boostrap
        .col.col-md-4
          = link_to 'http://rubyonrails.org/', :target => '_blank' do
            .icon.stack-item.rails
        .col.col-md-4
          = link_to 'http://backbonejs.org/', :target => '_blank' do
            .icon.stack-item.backbone
      .row
        .col.col-md-6
          = link_to 'http://www.rubymotion.com/', :target => '_blank' do
            .icon.stack-item.ruby-motion
        .col.col-md-6
          = link_to 'https://www.mysql.com/', :target => '_blank' do
            .icon.stack-item.mysql
      .row
        .col.col-md-12
          = link_to 'https://www.heroku.com/', :target => '_blank' do
            .icon.stack-item.heroku
