#main-wrapper
  = partial 'localizable/header'
  = partial 'localizable/menu'
  = partial 'localizable/methodologies'
  = partial 'localizable/clients'
  = partial 'localizable/technologies'
  = partial 'localizable/contact_us'
  = partial 'localizable/footer'
